@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --background: #f2f2ee;
    --foreground: #272727;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-black: #272727;
    --color-white: #f2f2ee;
    --color-gray: #bcb5af;
    --color-blue: #3a7df9;
    --font-sans: var(--font-dince);
    --font-mono: var(--font-ibmPlexMono);
    --breakpoint-xs: 34rem;
}
/* 
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Roboto", var(--font-dince), Helvetica, sans-serif;
    line-height: 1.1 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-dince), "Roboto", Helvetica, sans-serif;
}

.font-roboto {
    font-family: "Roboto", var(--font-dince), Helvetica, sans-serif;
}

.font-dince {
    font-family: var(--font-dince), "Roboto", Helvetica, sans-serif;
}

html {
    overscroll-behavior: none;
}

.cta-button {
    background: var(--foreground);
    backdrop-filter: blur(2px);
    color: #f2f2ee;
    padding: 6px 64px;

    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

.cta-button:hover {
    box-shadow: 0 0 8px 0 rgb(69, 69, 69) inset,
        0 4px 10px 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.karaoke-text .word {
    color: #bcb5af;
    transition: color 0.25s ease;
}
.karaoke-text .word.is-active {
    color: #272727;
}

.circular-gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;
}

.circular-gallery:active {
    cursor: grabbing;
}

/* Navbar */

.menu-item {
    font-size: 5rem;
    font-family: Dince;
}

/* Footer */

.footer-menu-links {
    font-family: Dince;
}
